# v0 sandbox internal files
__v0_runtime_loader.js
__v0_devtools.tsx
__v0_jsx-dev-runtime.ts
.snowflake/
.v0-trash/
.vercel/

# Environment variables (Abaikan semua jenis file .env)
.env
.env*

# Dependencies
node_modules/

# Next.js build output
.next/
out/

# IDE & Editor files
.vscode/
.idea/

# OS metadata
.DS_Store
Thumbs.db